data/sat_out/
dataset/**/images/
dataset/train/images_aug/
dataset/train/labels_aug/
*.DS_Store
*.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
*.env
token.docx
*.xlsx
*.xls
scripts/create_google_maps_csv.py
data/stations_for_google_maps.csv
data/fuel_stations_map.html
screenshots/
data/geocoding_pattern_analysis_ml/old runs/rf_best_model.joblib
data/geocoding_pattern_analysis_ml/FINAL_REPORT_FOR_PROFESSOR.txt
data/google_maps_samples/